name: Test FTP Connection

on:
  workflow_dispatch:

jobs:
  test-ftp:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Test FTP Connection
        run: |
          lftp -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_HOST }} << EOF
          set ssl:verify-certificate no
          ls
          bye
          EOF
