name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy and Run Artisan Commands
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          - amasemporium
          - bingoml
          - edzain
          - jomarsgroups
          - royalrelish
          - hairarena
          - osasumwenbyfd
          - standardchoice
          - ugbommaintefarms
          - dreambarbers
          - 24hrs

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Identify Changed Folders
        id: detect-changes
        run: |
          CHANGED_FOLDERS=$(git diff --dirstat=files,0 HEAD^ HEAD | cut -d'/' -f1 | sort -u | grep -E 'amasemporium|bingoml|edzain|jomarsgroups|royalrelish|hairarena|osasumwenbyfd|standardchoice|ugbommaintefarms|dreambarbers|24hrs' || echo "")
          echo "CHANGED_FOLDERS=$CHANGED_FOLDERS" >> $GITHUB_ENV
          if [ -z "$CHANGED_FOLDERS" ]; then
            echo "No changes detected. Skipping deployment."
            exit 0
          fi

      - name: List changed folders (Debug)
        run: echo $CHANGED_FOLDERS

      - name: Deploy to Folder
        if: contains(env.CHANGED_FOLDERS, matrix.folder)
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          source: ./{{ matrix.folder }}/  # Adjusted source to the specific folder
          target: ${{ secrets.FTP_PATH }}/business_sites/${{ matrix.folder }}/api/
          port: 22

      - name: Run PHP Artisan Commands
        if: contains(env.CHANGED_FOLDERS, matrix.folder)
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/${{ matrix.folder }}/api
            php artisan migrate
            php artisan clean
