name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  test-sftp:
    name: Test SFTP Connection and Deploy to Changed Folders
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
     
      # Define deployment steps for folders
      - name: Deploy to Folders
        run: |
          # Define the list of folders that need deployment
          DEPLOY_FOLDERS="amasemporium aromaperk bingoml phlorah chosenconcept fitandfeet edzain totech"

          # Loop over each folder and check if it changed
          for FOLDER in $DEPLOY_FOLDERS; do
            if echo "$CHANGED_FOLDERS" | grep -q "$FOLDER"; then
              echo "Deploying to $FOLDER..."

              # Upload files to SFTP for the current folder
              uses: appleboy/scp-action@v0.1.5
              with:
                host: ${{ secrets.FTP_HOST }}
                username: ${{ secrets.FTP_USERNAME }}
                password: ${{ secrets.FTP_PASSWORD }}
                source: ./
                target: ${{ secrets.FTP_PATH }}/business_sites/$FOLDER/api/
                port: 22

              # Run PHP Artisan Commands for the current folder
              uses: appleboy/ssh-action@v0.1.6
              with:
                host: ${{ secrets.FTP_HOST }}
                username: ${{ secrets.FTP_USERNAME }}
                password: ${{ secrets.FTP_PASSWORD }}
                port: 22
                script: |
                  cd /home/ngmktsit/www/business_sites/$FOLDER/api
                  php artisan migrate
                  php artisan clean
            else
              echo "$FOLDER did not change, skipping deployment."
            fi
          done
