name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  test-sftp:
    name: Test SFTP Connection and Deploy to Multiple Folders
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Upload Files to 24hrs/api
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.FTP_HOST }}    # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SFTP username
          password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/24hrs/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/24hrs/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
          
      - name: Run PHP Artisan Command on flexglobalprime/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/flexglobalprime/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/flexglobalprime/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
          
      - name: Run PHP Artisan Command on munchiesevents/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/munchiesevents/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/munchiesevents/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate

      - name: Run PHP Artisan Command on dami/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/dami/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/dami/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
    
      - name: Run PHP Artisan Command on crestgrandeur/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/crestgrandeur/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/crestgrandeur/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
      
      - name: Run PHP Artisan Command on lola/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/lola/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/lola/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
      
      - name: Run PHP Artisan Command on mammanativekichen/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/mammanativekichen/api/  # Target directory on the server
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/mammanativekichen/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
          
      - name: Run PHP Artisan Command on alec/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          source: ./                         # Local directory with test files
          target: ${{ secrets.FTP_PATH }}/business_sites/alec/api/  # Target directory on the server
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/business_sites/alec/api  # Navigate to the second folder
            php artisan clean
            php artisan migrate
          
      # - name: Run PHP Artisan Command on jtsforte/api
      #   uses: appleboy/ssh-action@v0.1.6
      #   with:
      #     host: ${{ secrets.FTP_HOST }}          # Server hostname
      #     username: ${{ secrets.FTP_USERNAME }}  # SSH username
      #     password: ${{ secrets.FTP_PASSWORD }}  # SSH password
      #     port: 22                               # SSH port
      #     script: |
      #       cd /home/ngmktsit/www/business_sites/jtsforte/api  # Navigate to the second folder
      #       php artisan migrate
      #       php artisan clean