name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  test-sftp:
    name: Test SFTP Connection and Deploy to Multiple Folders
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      # Step 1: Install rsync
      - name: Install rsync
        run: sudo apt-get install -y rsync

      # enterprise
      - name: Sync Files to enterprise/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/enterprise/api/

      # enterprise Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on enterprise/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/enterprise/api  # Navigate to the first folder
            php artisan clean                      # Run your artisan command

      # aromaperk
      - name: Sync Files to aromaperk/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/aromaperk/api/

      # aromaperk Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on aromaperk/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/aromaperk/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

      # edzain
      - name: Sync Files to edzain/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/edzain/api/

      # edzain Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on edzain/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/edzain/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

      # fitandfeet
      - name: Sync Files to fitandfeet/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/fitandfeet/api/

      # fitandfeet Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on fitandfeet/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/fitandfeet/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

     # phlorah
      - name: Sync Files to phlorah/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/phlorah/api/

      # phlorah Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on phlorah/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/phlorah/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

      # chosenconcept
      - name: Sync Files to chosenconcept/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/chosenconcept/api/

      # chosenconcept Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on chosenconcept/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/chosenconcept/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

      # totech
      - name: Sync Files to totech/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/totech/api/

      # totech Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on totech/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/totech/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command

      # bingoml
      - name: Sync Files to bingoml/api
        run: |
          rsync -avz --exclude '.git' --exclude 'node_modules' --exclude 'vendor' ./ ${{ secrets.FTP_USERNAME }}@${{ secrets.FTP_HOST }}:${{ secrets.FTP_PATH }}/bingoml/api/

      # bingoml Run PHP Artisan Command in the second folder
      - name: Run PHP Artisan Command on bingoml/api
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}          # Server hostname
          username: ${{ secrets.FTP_USERNAME }}  # SSH username
          password: ${{ secrets.FTP_PASSWORD }}  # SSH password
          port: 22                               # SSH port
          script: |
            cd /home/ngmktsit/www/bingoml/api  # Navigate to the second folder
            php artisan clean                      # Run your artisan command
