name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  test-sftp:
    name: Test SFTP Connection and Deploy to Multiple Folders
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Identify Changed Folders
        id: detect-changes
        run: |
          CHANGED_FOLDERS=$(git diff --dirstat=files,0 HEAD^ HEAD | cut -d'/' -f1 | sort -u | grep -E 'amasemporium|bingoml|edzain|ugbommaintefarms|dreambarbers|24hrs' || echo "")
          echo "CHANGED_FOLDERS=$CHANGED_FOLDERS" >> $GITHUB_ENV
          if [ -z "$CHANGED_FOLDERS" ]; then
            echo "No changes detected. Skipping deployment."
            exit 0
          fi

      # Check and Upload to amasemporium/api
      - name: Check if Remote Folder is Up-to-Date (amasemporium/api)
        run: |
          echo "Checking remote folder for updates"
          sshpass -p "${{ secrets.FTP_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.FTP_USERNAME }}@${{ secrets.SERVER_IP }} << EOF
            # Ensure git uses SSH and not HTTPS
            git config --global url."git@github.com:".insteadOf "https://github.com/"
            
            cd /home/ngmktsit/www/business_sites/amasemporium/api
            git fetch --all
            LOCAL_HASH=$(git rev-parse HEAD)
            REMOTE_HASH=$(git rev-parse origin/main)

            if [ "$LOCAL_HASH" == "$REMOTE_HASH" ]; then
              echo "No changes detected. Skipping deployment."
              exit 0
            else
              echo "Changes detected, proceeding with deployment."
            fi
          EOF
        continue-on-error: true

      - name: Upload Files to amasemporium/api
        if: success()
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          source: ./
          target: ${{ secrets.FTP_PATH }}/business_sites/amasemporium/api/
          port: 22

      - name: Run PHP Artisan Command on amasemporium/api
        if: success()
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          script: |
            cd /home/ngmktsit/www/business_sites/amasemporium/api
            php artisan migrate
            php artisan clean
