name: ngmkt production deploy

on:
  push:
    branches:
      - main

jobs:
  test-sftp:
    name: Test SFTP Connection and Deploy to Multiple Folders
    runs-on: ubuntu-latest
  
    steps:
        - name: Checkout Repository
          uses: actions/checkout@v3

        
        - name: Identify Changed Folders
          id: detect-changes
          run: |
            CHANGED_FOLDERS=$(git diff --dirstat=files,0 HEAD^ HEAD | cut -d'/' -f1 | sort -u | grep -E 'amasemporium|aromaperk|bingoml|phlorah|chosenconcept|fitandfeet|edzain|totech' || echo "")
            echo "CHANGED_FOLDERS=$CHANGED_FOLDERS" >> $GITHUB_ENV
            if [ -z "$CHANGED_FOLDERS" ]; then
              echo "No changes detected. Skipping deployment."
              exit 0
            fi
# 
        - name: Upload Files to amasemporium/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/amasemporium/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on amasemporium/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/amasemporium/api  # Navigate to the first folder
              php artisan migrate
              php artisan clean
              
        - name: Upload Files to aromaperk/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/aromaperk/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on aromaperk/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/aromaperk/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
              
        - name: Upload Files to bingoml/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/bingoml/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on bingoml/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/bingoml/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
  
  
  # 
        - name: Upload Files to edzain/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/edzain/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on edzain/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/edzain/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
              
        
        - name: Upload Files to jomarsgroups/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/jomarsgroups/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on jomarsgroups/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/jomarsgroups/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean 
        
        - name: Upload Files to royalrelish/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/royalrelish/api/  # Target directory on the server
            port: 22                            # SFTP port
  
  
        - name: Run PHP Artisan Command on royalrelish/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/royalrelish/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
        
        - name: Upload Files to hairarena/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/hairarena/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on hairarena/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/hairarena/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean 
  
         - name: Upload Files to osasumwenbyfd/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/osasumwenbyfd/api/  # Target directory on the server
            port: 22                            # SFTP port
  
        - name: Run PHP Artisan Command on osasumwenbyfd/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/osasumwenbyfd/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
        
         - name: Upload Files to standardchoice/api
          uses: appleboy/scp-action@v0.1.5
          with:
            host: ${{ secrets.FTP_HOST }}    # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SFTP username
            password: ${{ secrets.FTP_PASSWORD }}  # SFTP password
            source: ./                         # Local directory with test files
            target: ${{ secrets.FTP_PATH }}/business_sites/standardchoice/api/  # Target directory on the server
            port: 22                            # SFTP port
  
  
        - name: Run PHP Artisan Command on standardchoice/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/standardchoice/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
        
        - name: Run PHP Artisan Command on ugbommaintefarms/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/ugbommaintefarms/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
  
        - name: Run PHP Artisan Command on ugbommaintefarms/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/ugbommaintefarms/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
        
        - name: Run PHP Artisan Command on dreambarbers/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/dreambarbers/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
  
  
        - name: Run PHP Artisan Command on dreambarbers/api
          uses: appleboy/ssh-action@v0.1.6
          with:
            host: ${{ secrets.FTP_HOST }}          # Server hostname
            username: ${{ secrets.FTP_USERNAME }}  # SSH username
            password: ${{ secrets.FTP_PASSWORD }}  # SSH password
            port: 22                               # SSH port
            script: |
              cd /home/ngmktsit/www/business_sites/dreambarbers/api  # Navigate to the second folder
              php artisan migrate
              php artisan clean
